decode() takes no keyword arguments

```
  File "/usr/lib/python2.6/site-packages/osbs/api.py", line 190, in create_build
    return self.create_prod_build(namespace=namespace, **kwargs)
  File "/usr/lib/python2.6/site-packages/osbs/api.py", line 28, in catch_exceptions
    return func(*args, **kwargs)
  File "/usr/lib/python2.6/site-packages/osbs/api.py", line 131, in create_prod_build
    response = self.os.create_build(json.dumps(build_json), namespace=namespace)
  File "/usr/lib/python2.6/site-packages/osbs/core.py", line 139, in create_build
    headers={"Content-Type": "application/json"})
  File "/usr/lib/python2.6/site-packages/osbs/core.py", line 81, in _post
    return self._con.post(url, headers=headers, verify_ssl=self.verify_ssl, **kwargs)
  File "/usr/lib/python2.6/site-packages/osbs/http.py", line 387, in post
    return self._do_request(url, "post", **kwargs)
  File "/usr/lib/python2.6/site-packages/osbs/http.py", line 381, in _do_request
    raise OsbsException(repr(ex))
OsbsException: TypeError('decode() takes no keyword arguments',)
```
Let me know if you need more details about the environment.

looks like a change between py 2.6 and 2.7 (since no one hit this on 2.7)

I guess this was triggered by `decode(errors='replace')` at lines 342 and 356. We could catch `TypeError` and retry it without that argument.

@twaugh :+1: 

`decode` in python 2.6

```
Help on built-in function decode:

decode(...)
    S.decode([encoding[,errors]]) -> object
    
    Decodes S using the codec registered for encoding. encoding defaults
    to the default encoding. errors may be given to set a different error
    handling scheme. Default is 'strict' meaning that encoding errors raise
    a UnicodeDecodeError. Other possible values are 'ignore' and 'replace'
    as well as any other name registered with codecs.register_error that is
    able to handle UnicodeDecodeErrors.

```

Oh, so specifying the encoding would also work. The last commit message for those lines was:

> Treat non-ASCII octets in HTTP headers as opaque data.
> 
> Reference: RFC 7230 section 3.2.4

so I guess we could use `.decode('ascii', 'replace')`.

@twaugh that sounds nicer; rebasing
